### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import numpy as np
import pandas as pd

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
ratings.head()

joined = ratings.merge(movies, on='movieId', how='left')
joined.query(f'rating == {5.0}').groupby('title').count().sort_values('rating', ascending=False).head(1)

                                  userId  movieId  rating  timestamp  genres
title
Shawshank Redemption, The (1994)     153      153     153        153     153

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
import sys

power = pd.read_csv('power.csv')

sum = power[ (power['country'] == 'Lithuania') | 
            (power['country'] == 'Latvia') | 
            (power['country'] == 'Estonia')][(power['category'] == 4 ) | 
                                            (power['category'] == 12) | 
                                            (power['category'] == 21  )][power['quantity'] >= 0].sum()
print('Суммарное потребление стран Прибалтики = ', sum['category'])

Суммарное потребление стран Прибалтики =  21340

C:\Users\a_yashchuk\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [24]:
page_url = 'https://www.nbrb.by/statistics/rates/ratesdaily.asp'

df = pd.read_html(page_url, attrs = {'class': 'currencyTable'}, encoding='utf-8')[0]
df['Официальный курс'] = df['Официальный курс']/10000
df

,Наименование иностранной валюты,"Количество единиц иностранной валюты, буквенный код валюты",Официальный курс
0,Австралийский доллар,1 AUD,1.7588
1,Болгарский лев,1 BGN,1.4773
2,Гривна,100 UAH,8.8078
3,Датская крона,10 DKK,3.8785
4,Доллар США,1 USD,2.4368
5,Евро,1 EUR,2.8821
6,Злотый,10 PLN,6.5736
7,Иранский риал,100000 IRR,5.8019
8,Исландская крона,100 ISK,1.8060
9,Йена,100 JPY,2.3053
10,Канадский доллар,1 CAD,1.8390
11,Китайский юань,10 CNY,3.5104
12,Кувейтский динар,1 KWD,7.9728
13,Молдавский лей,10 MDL,1.4680
14,Новозеландский доллар,1 NZD,1.6241
15,Норвежская крона,10 NOK,2.7022
16,Российский рубль,100 RUB,3.3288
17,СДР (Специальные права заимствования),1 XDR,3.4295
18,Сингапурcкий доллар,1 SGD,1.7795
19,Сом,100 KGS,3.1705
20,Тенге,1000 KZT,5.8202
21,Турецкая лира,10 TRY,3.4771
22,Фунт стерлингов,1 GBP,3.1998
23,Чешская крона,100 CZK,11.0693
24,Шведская крона,10 SEK,2.8087
25,Швейцарский франк,1 CHF,2.6810